@media (min-width: 300px) {
  body {
    font-family: Arial, sans-serif;
    line-height: 0.5;
    margin: 0;
    padding: 10px 0 0 0;
    font-size: large;

    background-color: rgb(130, 200, 240);
    margin: 0;
    padding: 0;
  }
  

  
    header {
      background-color: #333;
      color: #fff;
      padding: 20px 0;
      text-align: center;

  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    display: inline;
    margin-left: 20px;
  }

  nav ul li a {
    color: #fff;

    text-decoration: none;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  footer {
     background-color: #333; 
   
    color: #fff;
    padding: 20px 0;
    text-align: center;
    background-size: 100%100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    align-items: center;
    display: flex;

  }
  .productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 3fr));
    gap: 20px;
  }

  .formulario-contacto {
    max-width: 600px;
    margin: 0 auto;
  }

  .info-contacto {
    max-width: 600px;
    margin: 20px auto;
  }

  .preguntas {
    max-width: 800px;
    margin: 0 auto;
  }

  .articulos {
    display: grid;
    grid-template-columns: repeat(4, 4, minmax(300px, 1fr));
    gap: 20px;
  }

  .lista-productos {
    max-width: 900px;
    margin: 0 auto;
  }

  .img {
    width: 20rem;
    height: 20rem;
  }
  .caja {
    width: 10rem;
    height: 16rem;
    background-color: rgb(185, 62, 241);
    text-align: center;
    margin: 1rem;
    font-size: 1.5rem;  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 2rem;
    
  }

  
  .flex-container7 {
    display: flex;
    justify-content: center;
    padding: 3rem;
  }
  img {
    width: 10rem;
    height: 10rem;
  }
  .row {
    margin: 0;
  }
  .video {
    display: grid;
    grid-template-columns: repeat(4, 4, minmax(300px, 1fr));
  }
  @media (min-width: 769px) and (max-width: 1024px) {
  }
  @media (min-width: 1025px){

  }
}
